* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.palette {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.color-box {
    width: 140px;
    height: 300px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-box:hover {
    transform: scale(1.03);
}

.color-box span {
    background: rgba(255,255,255,0.8);
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: bold;
}

.generateBtn {
    background: linear-gradient(135deg, #007BFF, #0056b3);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;

    transition: all 0.3s ease;

    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
}

.generateBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 123, 255, 0.5);

    animation: pulse 1s infinite alternate;
}

.generateBtn:active {
    transform: scale(0.95);
}

@keyframes pulse {
    from {
        transform: translateY(-5px) scale(1);
    }

    to {
        transform: translateY(-5px) scale(1.05);
    }
}

button {
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}